In [1]:
str = "'''''test''"

In [2]:
print(str)

'''''test''

In [4]:
print("'aaa', \"aaa\"")

'aaa', "aaa"

In [5]:
a = "python"

In [6]:
print(a * 2)

pythonpython

In [7]:
address = "부산 동래구 중앙대로 1285번길"

In [8]:
print(address[0])

부

In [10]:
print(address[:6])

부산 동래구

In [11]:
print(address[7:])

중앙대로 1285번길

In [12]:
names = ["김준일", "김준이", "김준삼", "김준사"]

In [17]:
print(names[0][1:])

준일

In [18]:
print(names[1][1:])

준이

In [19]:
print(names[2][1:])

준삼

In [20]:
print(names[3][1:])

준사

In [25]:
for i in range(4):
    print(names[i][1:])

준일
준이
준삼
준사

In [22]:
for name in names:
    print(name[1:])

준일
준이
준삼
준사

In [33]:
for name in names:
    if "이" in name:
        print(name[1:])

준이

In [34]:
print(range(10))

range(0, 10)

In [37]:
print("I eat %d apples" % 3)

I eat 3 apples

In [38]:
myName = '이동헌'

In [45]:
myAge = 27

In [46]:
print(f'나의 이름은 {myName}입니다. 나이는 {myAge}입니다')

나의 이름은 이동헌입니다. 나이는 27입니다

In [44]:
username = 'aaa'
sql = f"""
select
    *
from
    user_tb
where
    username = {username}
"""
print(sql)

select
    *
from
    user_tb
where
    username = aaa

In [47]:
b = "아아아아메메리리리리리리리카카노"
print(b.count("리")) # 문자 갯수
print(b.find("메")) # 위치 찾기 못찾으면 -1을 return
print(b.index("카")) # 위치 찾기 못찾으면 error 를 return

7
4
13